*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.frontpage-image{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-image: url("./Images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
    position: absolute;
}


.frontpage-text{
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: #eee;
    border: 4px solid #eee;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 30%;
    text-align: center;
    padding: 20px;
    font-size: 40px;
    text-shadow: black 3px 3px;
    font-family: 'Economica', sans-serif;
    border-radius: 10px;

}


@media only screen and (max-width: 1700px){
    .frontpage-text{
        background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
        color: #eee;
        border: 4px solid #eee;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 30%;
        text-align: center;
        padding: 20px;
        font-size: 30px;
        text-shadow: black 3px 3px;
        font-family: 'Economica', sans-serif;
        border-radius: 10px;
    
    }    
}

@media only screen and (max-width: 699px){
    .frontpage-text{
        background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
        color: #eee;
        border: 4px solid #eee;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 30%;
        padding: 20px;
        font-size: 14px;
        text-shadow: black 3px 3px;
        font-family: 'Economica', sans-serif;
        border-radius: 10px;
    
    }    
}


.block-menu {
	display: block;
    background: #eee;
    width: auto;
    text-align: center;
    opacity: 0.5;
}

.block-menu li {
	display: inline-block;
}

.block-menu li a {
	color: black;
	display: block;
	text-decoration: none;
	font-family: 'Economica', sans-serif;
	text-transform: uppercase;
	overflow: visible;
	line-height: 20px;
	font-size: 40px;
    padding: 15px 10px;
    font-weight: 500;
    font-style: italic;
}

/* animation domination */
.three-d {
	perspective: 200px;
	transition: all .07s linear;
	position: relative;
	cursor: pointer;
}
	/* complete the animation! */
	.three-d:hover .three-d-box, 
	.three-d:focus .three-d-box {
		transform: translateZ(-25px) rotateX(90deg);
	}

.three-d-box {
	transition: all .3s ease-out;
	transform: translatez(-25px);
	transform-style: preserve-3d;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}

.front {
	transform: rotatex(0deg) translatez(25px);
}

.back {
	transform: rotatex(-90deg) translatez(25px);
	color: black;
}

.front, .back {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #eee;
	padding: 15px 10px;
	color: black;
	pointer-events: none;
    box-sizing: border-box;
}

.snowflake {
    color: #fff;
    font-size: 2.5em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
  }
  
  @-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:8s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}

