*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Grid Creation*/
.grid-container{
	display: grid;
	height: 400vh;
	width: 100%;
	grid-template-columns: 100%;
	grid-template-rows: repeat(4, 100vh);
}

/*Page 1 - Header*/
.box1{
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: start;
	align-items: center;
	flex-direction: column;
}

.box1-top{
	display:flex;
	width: 100%;
	height: 50%;
	background-color:  #E9E9E9;
	justify-content: center;
	align-items: center;
	font-size: 3vw;
	color: #88BBD6;
	text-shadow: 2px 2px #A9A9A9;
}

.box1-bottom{
	display: flex;
	width: 100%;
	height: 50%;
	background-color: #88BBD6;
	justify-content: center;
	align-items: center;
	font-size: 3vw;
	color: #E9E9E9;
	text-shadow: 2px 2px #A9A9A9;
}

/*-------------------------------------------*/

/* Page 2 */

.box2{
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: start;
	align-items: center;
	flex-direction: column;
}


.box2-top{
	height: 50%;
	width: 100%;
	background-color: #E9E9E9;
}

.box2-bottom{
	height: 50%;
	width: 100%;
	background-color: #88bbd6;
}

.box2-top-grid{
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 100%;
	gap: 0px 10px;
	padding: 10px;
}

.box2-tg1{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Economica',sans-serif;
	font-size: 2vw;
	text-decoration: underline;
	font-style: italic;
	text-align: center;
	padding: 5%;
}

.box2-tg2{
	background-image: url("./Photos/SOTB/D3.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;	
}

.box2-tg3{
	background-image: url("./Photos/SOTB/SOTB3.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;	
}

.box2-bottom-grid{
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 100%;
	gap: 0px 10px;
	padding: 10px;
}

.box2-bg1{
	background-image: url("./Photos/SOTB/Colo5.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;	
}

.box2-bg2{
	background-image: url("./Photos/SOTB/SOTB4.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;	
}

.box2-bg3{
	background-image: url("./Photos/SOTB/SOTB5.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;	
}


/* Page 3 */

.box3{
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: start;
	align-items: center;
	flex-direction: column;
}

.box3-top{
	height: 50%;
	width: 100%;
	background-color: #E9E9E9;
}

.box3-bottom{
	height: 50%;
	width: 100%;
	background-color: #88bbd6;
}

.box3-top-grid{
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 100%;
	gap: 0px 10px;
	padding: 10px;
}

.box3-tg1{
	background-image: url("./Photos/Colo/Colo5.jpg");
	background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
}

.box3-tg2{
	background-image: url("./Photos/Colo/Colo1.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box3-tg3{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Economica',sans-serif;
	font-size: 2vw;
	text-decoration: underline;
	font-style: italic;
	text-align: center;
	padding: 5%;
}

@media only screen and (max-width: 1500px){
	.box3-tg3{
		font-size: 30px;
	}
}	

.box3-bottom-grid{
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 100%;
	gap: 0px 10px;
	padding: 10px;
}

.box3-bg1{
	background-image: url("./Photos/Colo/Colo6.jpg");
	background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
}

.box3-bg2{
	background-image: url("./Photos/Colo/Colo4.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box3-bg3{
	background-image: url("./Photos/Colo/Colo3.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Page 4 */

.box4{
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: start;
	align-items: center;
	flex-direction: column;
}

.box4-top{
	height: 50%;
	width: 100%;
	background-color: #E9E9E9;
}

.box4-bottom{
	height: 50%;
	width: 100%;
	background-color: #88bbd6;
}

.box4-top-grid{
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 100%;
	gap: 0px 10px;
	padding: 10px;
}

.box4-tg1{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Economica',sans-serif;
	font-size: 2vw;
	text-decoration: underline;
	font-style: italic;
	text-align: center;
	padding: 5%;

}

.box4-tg2{
	background-image: url("./Photos/DC/D1.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box4-tg3{
	background-image: url("./Photos/DC/D2.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box4-bottom-grid{
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 100%;
	gap: 0px 10px;
	padding: 10px;
}

.box4-bg1{
	background-image: url("./Photos/DC/D6.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.box4-bg2{
	background-image: url("./Photos/DC/D4.jpg");
	background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.box4-bg3{
	background-image: url("./Photos/DC/D5.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;	
}


/*This is the Menu Bar*/
.block-menu {
	display: block;
    background:  #E9E9E9;
    width: auto;
	text-align: center;
}

.block-menu li {
	display: inline-block;
}

.block-menu li a {
	color: black;
	display: block;
	text-decoration: none;
	font-family: 'Economica', sans-serif;
	text-transform: uppercase;
	overflow: visible;
	line-height: 20px;
	font-size: 40px;
    padding: 15px 10px;
    font-weight: 500;
    font-style: italic;
}

/* animation domination */
.three-d {
	perspective: 200px;
	transition: all .07s linear;
	position: relative;
	cursor: pointer;
}
	/* complete the animation! */
	.three-d:hover .three-d-box, 
	.three-d:focus .three-d-box {
		transform: translateZ(-25px) rotateX(90deg);
	}

.three-d-box {
	transition: all .3s ease-out;
	transform: translatez(-25px);
	transform-style: preserve-3d;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}

.front {
	transform: rotatex(0deg) translatez(25px);
}

.back {
	transform: rotatex(-90deg) translatez(25px);
	color: black;
}

.front, .back {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #E9E9E9;
	padding: 15px 10px;
	color: #88BBD6;
	pointer-events: none;
    box-sizing: border-box;
}