*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

@media only screen and (orientation:landscape) {
    .hidden-MSG h1{
        display: flex;
        visibility: visible;
        position: absolute;
        font-family: 'Economica',sans-serif;
        font-size: 80px;
        color: black;
        z-index: 5;
        left: 18%;
        margin-top: -30px;
    }
    body{
        visibility: hidden;
        background-image: url("../Images/Rotate.png");
        background-position: center;
        background-repeat: no-repeat;
        background-color: rgba(105,105,105, 0.4);
        margin-top: -800px;
        z-index: 10;
    }
    .block-menu{
        visibility: hidden;
    }
    .block-menu li a{
        visibility: hidden;
    }
    .front, .back{
        visibility: hidden;
    }
    .three-d{
        visibility: hidden;
    }
}



.hidden-MSG{
    font-size: 0px;
    z-index: -2;
}

#menu-Mar{
    margin-top: 20px;
}

/*Grid Creation*/
.grid-container{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 48vh 100vh 20vh;
    height: 168vh;
    width: 100vw;
}

.box1{
    display: flex;
    background:  #E9E9E9;
    justify-content: center;
    align-items: center;
    font-family: 'Economica',sans-serif;
    font-size: 750%;
    color: #88bbd6;
    text-shadow: 4px 4px #A9A9A9;
    overflow: hidden;
    font-style: italic;
}

.box2{
    background-color: #88bbd6;
    display: flex;
    justify-content: center;
    text-align: center;
}

img {
    height: 85%;
    width: 85%;
    margin-top: 40px;
}

.box2-intro{
    margin-top: 20px;
    font-family: 'Economica',sans-serif;
    font-size: 3.5vh;
    text-decoration: underline;
    margin-bottom: 25px;
    font-weight: lighter;
}

#box2-body{
    font-family: 'Montserrat',sans-serif;
    font-size: 1.80vh;
    padding-left: 30px;
    padding-right: 30px;
}

.box3-flex1{
    display: flex;
    height: 40%;
    width: 100%;
    align-items: center;
}

.box3-content4{
    display: flex;
    transform: translateX(100%);
    font-family: 'Economica',sans-serif;
    font-size: 4vh;
    text-decoration: underline;
    font-weight: lighter;
    text-align: center;
}

#box3-grid1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100%;
    height: 60%;
    width: 100%;
    padding-left: 10%;
}

.box3-image1{
    height: auto;
    width: 60%;
}

.box3-image2{
    height: auto;
    width: 70%;
    position: relative;
    bottom: 5%;
}

.box3-image3{
    height: auto;
    width: 70%;
    position: relative;
    bottom: 9%;
}

/*This is the menu code*/   
.block-menu {
	display: block;
    background:  #E9E9E9;
    width: auto;
    text-align: center;
}

.block-menu li {
    display: inline-block;
}

.block-menu li a {
	color: black;
	display: block;
	text-decoration: none;
	font-family: 'Economica', sans-serif;
	text-transform: uppercase;
	overflow: visible;
	line-height: 40px;
	font-size: 80px;
    padding: 30px 20px;
    font-weight: 500;
    font-style: italic;     
}

/* animation domination */
.three-d {
	perspective: 200px;
	transition: all .07s linear;
	position: relative;
	cursor: pointer;
}
	/* complete the animation! */
	.three-d:hover .three-d-box, 
	.three-d:focus .three-d-box {
		transform: translateZ(-50px) rotateX(90deg);
	}

.three-d-box {
	transition: all .3s ease-out;
	transform: translatez(-50px);
	transform-style: preserve-3d;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}

.front {
	transform: rotatex(0deg) translatez(50px);
}

.back {
	transform: rotatex(-90deg) translatez(50px);
	color: black;
}

.front, .back {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #E9E9E9;
	padding: 15px 10px;
	color: #88BBD6;
	pointer-events: none;
    box-sizing: border-box;
}