*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

/*Grid Creation*/
.grid-container{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 50vh 100vh 50vh;
    height: 200vh;
    width: 100vw;
}

.box1{
    display: flex;
    background:  #E9E9E9;
    justify-content: center;
    align-items: center;
    font-family: 'Economica',sans-serif;
    font-size: 140px;
    color: #88bbd6;
    text-shadow: 4px 4px #A9A9A9;
    overflow: hidden;
    font-style: italic;
}

.box2{
    background-color: #88bbd6;
    display: flex;
    justify-content: center;
    text-align: center;
}

img {
    height: 85%;
    width: 85%;
    margin-top: 15px;
}

#box2-body{
    font-family: 'Montserrat',sans-serif;
    margin-top: 50px;
    font-size: 40px;
    padding: 30px;
}


.box3{
    background-color: burlywood;
}


/*This is the menu code*/   
.block-menu {
	display: block;
    background:  #E9E9E9;
    width: auto;
    text-align: center;
}

.block-menu li {
    display: inline-block;
}

.block-menu li a {
	color: black;
	display: block;
	text-decoration: none;
	font-family: 'Economica', sans-serif;
	text-transform: uppercase;
	overflow: visible;
	line-height: 40px;
	font-size: 80px;
    padding: 30px 20px;
    font-weight: 500;
    font-style: italic;     
}

/* animation domination */
.three-d {
	perspective: 400px;
	transition: all .07s linear;
	position: relative;
	cursor: pointer;
}
	/* complete the animation! */
	.three-d:hover .three-d-box, 
	.three-d:focus .three-d-box {
		transform: translateZ(-50px) rotateX(90deg);
	}

.three-d-box {
	transition: all .3s ease-out;
	transform: translatez(-50px);
	transform-style: preserve-3d;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}

.front {
	transform: rotatex(0deg) translatez(50px);
}

.back {
	transform: rotatex(-90deg) translatez(50px);
	color: black;
}

.front, .back {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #E9E9E9;
	padding: 15px 10px;
	color: #88BBD6;
	pointer-events: none;
    box-sizing: border-box;
}