*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

@media only screen and (orientation:landscape) {
    .hidden-MSG h1{
        display: flex;
        visibility: visible;
        position: absolute;
        font-family: 'Economica',sans-serif;
        font-size: 80px;
        color: black;
        z-index: 5;
        left: 16%;
        margin-top: -50px;
    }
    body{
        visibility: hidden;
        background-image: url("../Images/Rotate.png");
        background-position: center;
        background-repeat: no-repeat;
        background-color: rgba(105,105,105, 0.4);
        margin-top: -1500px;
        z-index: 10;
    }
    .block-menu{
        visibility: hidden;
    }
    .block-menu li a{
        visibility: hidden;
    }
    .front, .back{
        visibility: hidden;
    }
    .three-d{
        visibility: hidden;
    }
}	

.hidden-MSG{
    font-size: 0px;
    z-index: -2;
}

#menu-Mar{
    margin-top: 20px;
}

/*Grid Creation*/
.grid-container{
	display: grid;
	grid-template-rows: 48vh 70vh 70vh 70vh 70vh;
	grid-template-columns: 100%;
	height: 328vh;
	width: 100%;
}

.intro-box{
	display: flex;
    background:  #E9E9E9;
    justify-content: center;
    align-items: center;
    font-family: 'Economica',sans-serif;
    font-size: 750%;
    color: #88bbd6;
    text-shadow: 4px 4px #A9A9A9;
    overflow: hidden;
    font-style: italic;
	text-align: center;
}

/*Project Portion*/
.project-box{
	background-color: #88bbd6;
	display: flex;
	flex-direction: column;
}

.project-flex li{
	text-align: center;
	font-family: 'Montserrat',sans-serif;
	list-style: none;
	padding-right: 4%;
	padding-left: 4%;
	font-size: 1.5vh;
}

#project-header{
	text-decoration: underline;
	font-size: 4vh;
	font-family: 'Economica',sans-serif;
	padding-bottom: 2%;
}

#project-header1{
	font-size: 2.2vh;
	text-decoration: underline;
	padding-bottom: 5%;
	padding-top: 2%;
}


/*Intern Portion*/
.intern-box{
	background-color: #E9E9E9;
	text-align: center;
}

#intern-header{
	text-decoration: underline;
	font-size: 4vh;
	font-family: 'Economica',sans-serif;
	padding-bottom: 2%;
}

#intern-header1{
	font-size: 1.5vh;
	font-family: 'Montserrat',sans-serif;

}

.intern-box img{
	height: auto;
	width: 15%;
}

.intern-body{
	font-family: 'Montserrat',sans-serif;
	font-size: 1.38vh;
	padding-left: 3%;
	padding-right: 3%;
}


/*Research Portion*/
.research-box{
	background-color: #88bbd6;
	text-align: center;
}

.research-header{
	text-decoration: underline;
	font-size: 4vh;
	font-family: 'Economica',sans-serif;
	padding-bottom: 4%;
}

.research-header1{
	font-size: 1.4vh;
	font-family: 'Montserrat',sans-serif;
}

.research-box img{
	height: auto;
	width: 30%;
	padding-bottom: 3%;
}

.research-body{
	font-family: 'Montserrat',sans-serif;
	font-size: 1.4vh;
	padding-left: 3%;
	padding-right: 3%;
}

#head{
	font-family: 'Montserrat',sans-serif;
	font-size: 1.5vh;
	text-decoration: none;
	padding-left: 3%;
	padding-right: 3%;
	font-weight: bold;
	color: black;
	font-style: italic;
}

#head:hover{
	font-family: 'Montserrat',sans-serif;
	font-size: 1.55vh;
	text-decoration: none;
	padding-left: 3%;
	padding-right: 3%;
}



/*Work Portion*/
.work-box{
	background-color: #E9E9E9;
	list-style: none;
	text-align: center;
}

.work-header{
	text-decoration: underline;
	font-size: 4vh;
	font-family: 'Economica',sans-serif;
	padding-bottom: 4%;
}

.work-header1{
	font-size: 2vh;
	font-family: 'Montserrat',sans-serif;
}

.work-box img{
	height: auto;
	width: 30%;
	padding-bottom: 3%;
}

.work-body{
	font-family: 'Montserrat',sans-serif;
	font-size: 1.8vh;
	padding-left: 3%;
	padding-right: 3%;
}




/*This is the menu code*/   
.block-menu {
	display: block;
    background:  #E9E9E9;
    width: auto;
    text-align: center;
}

.block-menu li {
    display: inline-block;
}

.block-menu li a {
	color: black;
	display: block;
	text-decoration: none;
	font-family: 'Economica', sans-serif;
	text-transform: uppercase;
	overflow: visible;
	line-height: 40px;
	font-size: 80px;
    padding: 30px 20px;
    font-weight: 500;
    font-style: italic;     
}

/* animation domination */
.three-d {
	perspective: 200px;
	transition: all .07s linear;
	position: relative;
	cursor: pointer;
}
	/* complete the animation! */
	.three-d:hover .three-d-box, 
	.three-d:focus .three-d-box {
		transform: translateZ(-50px) rotateX(90deg);
	}

.three-d-box {
	transition: all .3s ease-out;
	transform: translatez(-50px);
	transform-style: preserve-3d;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}

.front {
	transform: rotatex(0deg) translatez(50px);
}

.back {
	transform: rotatex(-90deg) translatez(50px);
	color: black;
}

.front, .back {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #E9E9E9;
	padding: 15px 10px;
	color: #88BBD6;
	pointer-events: none;
    box-sizing: border-box;
}

#menu-Mar{
	margin-top: 20px;
}