*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

@media only screen and (orientation:landscape) {
    .hidden-MSG h1{
        display: flex;
        visibility: visible;
        position: absolute;
        font-family: 'Economica',sans-serif;
        font-size: 80px;
        color: black;
        z-index: 5;
        left: 16%;
        margin-top: -50px;
    }
    body{
        visibility: hidden;
        background-image: url("../Images/Rotate.png");
        background-position: center;
        background-repeat: no-repeat;
        background-color: rgba(105,105,105, 0.4);
        margin-top: 100px;
        z-index: 10;
    }
    .block-menu{
        visibility: hidden;
    }
    .block-menu li a{
        visibility: hidden;
    }
    .front, .back{
        visibility: hidden;
    }
    .three-d{
        visibility: hidden;
    }
}	

.hidden-MSG{
    font-size: 0px;
    z-index: -2;
}

#menu-Mar{
    margin-top: 20px;
}

/*Grid Creation*/
.grid-container{
	display: grid;
	grid-template-rows:  48vh repeat(3, 150vh);
	grid-template-columns: 100%;
	height: 498vh;
	width: 100%;
	justify-content: space-around;
}

/*Intro*/
.intro{
	display: flex;
    background:  #E9E9E9;
    justify-content: center;
    align-items: center;
    font-family: 'Economica',sans-serif;
    font-size: 6.3vh;
    color: #88bbd6;
    text-shadow: 4px 4px #A9A9A9;
    overflow: hidden;
    font-style: italic;
	text-align: center;
}

/*Some of the best*/
.SOM{
	background-color: #88bbd6;
	text-align: center;
	height: 100%;
	width: 100%;
}

.SOM-header{
	font-size: 5vh;
	font-family: 'Economica',sans-serif;
	text-decoration: underline;
	font-style: italic;
}

.SOM-grid{
	height: 95%;
	width: 100%;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: repeat(3,1fr);
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 5%;
	gap: 15px;
}

.SOMG1{
	background-image: url("../Photos/SOTB/D3.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.SOMG2{
	background-image: url("../Photos/SOTB/SOTB3.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;	
}

.SOMG3{
	background-image: url("../Photos/SOTB/Colo5.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;	
}



/*Colorado*/
.Colo{
	background-color: #E9E9E9;
	text-align: center;
	height: 100%;
	width: 100%;
}

.Colo-header{
	font-size: 5vh;
	font-family: 'Economica',sans-serif;
	text-decoration: underline;
	font-style: italic;
}

.Colo-grid{
	height: 95%;
	width: 100%;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: repeat(3,1fr);
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 5%;
	gap: 15px;
}

.ColoG1{
	background-image: url("../Photos/Colo/Colo1.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ColoG2{
	background-image: url("../Photos/Colo/Colo6.jpg");
	background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
}

.ColoG3{
	background-image: url("../Photos/SOTB/SOTB4.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;	
}

/*Washington DC*/
.DC{
	background-color: #88bbd6;
	text-align: center;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.DC-header{
	font-size: 5vh;
	font-family: 'Economica',sans-serif;
	text-decoration: underline;
	font-style: italic;
}

.DC-grid{
	height: 95%;
	width: 100%;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: repeat(3,1fr);
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 5%;
	gap: 15px;
}

.DCG1{
	background-image: url("../Photos/DC/D1.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;	
}

.DCG2{
	background-image: url("../Photos/DC/D6.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.DCG3{
	background-image: url("../Photos/DC/D5.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;	
}

/*This is the menu code*/   
.block-menu {
	display: block;
    background:  #E9E9E9;
    width: auto;
    text-align: center;
}

.block-menu li {
    display: inline-block;
}

.block-menu li a {
	color: black;
	display: block;
	text-decoration: none;
	font-family: 'Economica', sans-serif;
	text-transform: uppercase;
	overflow: visible;
	line-height: 40px;
	font-size: 80px;
    padding: 30px 20px;
    font-weight: 500;
    font-style: italic;     
}

/* animation domination */
.three-d {
	perspective: 200px;
	transition: all .07s linear;
	position: relative;
	cursor: pointer;
}
	/* complete the animation! */
	.three-d:hover .three-d-box, 
	.three-d:focus .three-d-box {
		transform: translateZ(-50px) rotateX(90deg);
	}

.three-d-box {
	transition: all .3s ease-out;
	transform: translatez(-50px);
	transform-style: preserve-3d;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}

.front {
	transform: rotatex(0deg) translatez(50px);
}

.back {
	transform: rotatex(-90deg) translatez(50px);
	color: black;
}

.front, .back {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #E9E9E9;
	padding: 15px 10px;
	color: #88BBD6;
	pointer-events: none;
    box-sizing: border-box;
}

#menu-Mar{
	margin-top: 20px;
}