* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{
  --off_white: #f7f8f9;
  --light_gray: #ecedee;
  --dark_gray: #d3d2d2;
  --subheader_gray: #2f3032;
  --primary_black:#282C35;
  --primary_purple: #b266b2;
}
