.landing-container {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;

    .introduction-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 75px);
        position: relative;

        .card-wrapper {
            display: grid;
            grid-template-columns: 40% 60%;
            grid-auto-flow: column;
            padding: 30px;
            width: 80%;

            .card-image {
                width: 80%;
                height: auto;
                animation: fromLeft 1s 1;
            }

            @keyframes fromLeft {
                0% {
                    transform: translateX(-1000px);
                }

                100% {
                    transform: translateX(0px);
                }
            }

            .card-details-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                animation: fromBottom 1s 1;

                @keyframes fromBottom {
                    0% {
                        transform: translateY(1000px);
                    }

                    100% {
                        transform: translateX(0px);
                    }
                }

                .card-details-header {
                    font-size: 100px;
                    text-transform: uppercase;
                    font-weight: 500;
                    letter-spacing: 3px;
                    color: var(--primary_black);
                    margin-left: 25px;
                }

                .card-details-subheader {
                    font-size: 25px;
                    color: var(--subheader_gray);
                    margin-left: 30px;
                }

                .card-details-description {
                    font-size: 17px;
                    margin-top: 20px;
                    margin-left: 30px;
                    width: 70%;
                }

                .card-details-icons {
                    margin-top: 50px;
                    display: flex;
                    align-items: center;

                    img {
                        width: 50px;
                        height: 50px;
                        cursor: pointer;
                        margin-left: 30px;
                    }

                    img:hover {
                        transform: scale(1.1);
                    }
                }

            }
        }  
    }

 
}

